<img src="img/route_simple.png" />
<!--<p style="padding-top:10px">选择分析图层 </p>
<select node-type="heatLayerSelect" class="form-control input-sm">
	  <% for(var i=operationalLayers.length-1; i>=0; i--){ 
	    var o = operationalLayers[i];
	  %>
	    <option value="<%=o.url%>"><%=o.title%></option>
	  <% } %>
</select>-->
<hr />
<p>选择停靠点和路障点</p>
<div class="btn-group" data-toggle="buttons">
   <label class="btn btn-primary" node-type="berthPointButton">
      <input  type="radio" name="options" id="option1"> 停靠点
   </label>
    <label class="btn btn-primary" node-type="clearButton">
      <input  type="radio" name="options" id="option3"> 清除
   </label>
</div>	

<div class="btn-group" data-toggle = "buttons" style="padding-top:10px">
   <label class="btn btn-primary"  node-type="fencePointButton">
      <input  type="radio" name="options" id="option2"> 路障点
   </label>
   <label class="btn btn-primary"  node-type="fencePolylineButton">
      <input  type="radio" name="options" id="option2"> 路障线
   </label>
   <label class="btn btn-primary"  node-type="fencePolygonButton">
      <input  type="radio" name="options" id="option2"> 路障面
   </label>
</div>

<hr/>
<button node-type="routeButton" class="btn btn-primary">执行分析</button>